<div id="cs-form-body" class="text-font-500">
  <div id="cs-form-body-div">
    <div class="cs-form-elem"><h1>Connection and Security</h1></div>
    <!--        Username-->
    <div class="cs-form-elem">
      <div class="cs-form-elem-content">
        <span id="cs-form-title-span-username">Username :</span>
        <span id="cs-form-info-span-username">Username</span>
        <input class="cs-form-temp-input-username" id="cs-form-input-username" type="text">
      </div>
      <div class="cs-form-elem-button">
        <button id="cs-form-edit-button-username" type="button" value="<?php echo $IDLetters ?>Username" name="Edit">Edit</button>
        <button class="cs-form-temp-button-username" id="cs-form-cancel-button-username" type="button" value="<?php echo $IDLetters ?>Username">Cancel</button>
      </div>
    </div>
    <!--        First Name-->
    <div class="cs-form-elem">
      <div class="cs-form-elem-content">
        <span id="cs-form-title-span-firstName">First Name :</span>
        <span id="cs-form-info-span-firstName">FirstName</span>
        <input class="cs-form-temp-input-firstName" id="cs-form-input-firstName" type="text">
      </div>
      <div class="cs-form-elem-button">
        <button id="cs-form-edit-button-firstName" type="button" value="<?php echo $IDLetters ?>FirstName" name="Edit">Edit</button>
        <button class="cs-form-temp-button-firstName" id="cs-form-cancel-button-firstName" type="button" value="<?php echo $IDLetters ?>FirstName">Cancel</button>
      </div>
    </div>
    <!--        Last Name-->
    <div class="cs-form-elem">
      <div class="cs-form-elem-content">
        <span id="cs-form-title-span-lastName">Last Name :</span>
        <span id="cs-form-info-span-lastName">LastName</span>
        <input class="cs-form-temp-input-lastName" id="cs-form-input-lastName" type="text">
      </div>
      <div class="cs-form-elem-button">
        <button id="cs-form-edit-button-lastName" type="button" value="<?php echo $IDLetters ?>LastName" name="Edit">Edit</button>
        <button class="cs-form-temp-button-lastName" id="cs-form-cancel-button-lastName" type="button" value="<?php echo $IDLetters ?>LastName" >Cancel</button>
      </div>
    </div>
    <!--        Phone Number-->
    <div class="cs-form-elem">
      <div class="cs-form-elem-content">
        <span id="cs-form-title-span-phoneNumber">Phone Number :</span>
        <span id="cs-form-info-span-phoneNumber">PhoneNumber</span>
        <input class="cs-form-temp-input-phoneNumber" id="cs-form-input-phoneNumber" type="text">
      </div>
      <div class="cs-form-elem-button">
        <button id="cs-form-edit-button-phoneNumber" type="button" value="<?php echo $IDLetters ?>PhoneNumber" name="Edit">Edit</button>
        <button class="cs-form-temp-button-phoneNumber" id="cs-form-cancel-button-phoneNumber" type="button" value="<?php echo $IDLetters ?>PhoneNumber" >Cancel</button>
      </div>
    </div>
    <!--        Email-->
    <div class="cs-form-elem">
      <div class="cs-form-elem-content">
        <span id="cs-form-title-span-email">Email :</span>
        <span id="cs-form-info-span-email">Email</span>
        <span class="cs-form-temp-span2-email" id="cs-form-info-span2-email"></span>

        <span id="cs-form-temp-span" class="cs-form-temp-span2-email">A verification code has been sent to your new email address.</span>
        <span class="cs-form-temp-span2-email">Input the confirmation code :</span>

        <input class="cs-form-temp-input-email" id="cs-form-input-email" type="text">
      </div>
      <div class="cs-form-elem-button">
        <button id="cs-form-edit-button-email" type="button" value="<?php echo $IDLetters ?>Email" name="Edit">Edit</button>
        <button class="cs-form-temp-button-email" id="cs-form-cancel-button-email" type="button" value="<?php echo $IDLetters ?>Email" >Cancel</button>
      </div>
    </div>
    <!--        Password-->
    <div class="cs-form-elem">
      <div class="cs-form-elem-content">
        <span  class="cs-form-temp-span-password">Old Password :</span>
        <input class="cs-form-temp-input-password" type='password' id="cs-form-input-password-old">

        <span id="cs-form-title-span-password">Password :</span>
        <span id="cs-form-info-span-password">**********</span>

        <input class="cs-form-temp-input-password" type='password' id="cs-form-input-password">
        <span  class="cs-form-temp-span-password">Repeat New Password :</span>
        <input class="cs-form-temp-input-password" type='password' id="cs-form-input-password-repeat">

      </div>
      <div class="cs-form-elem-button">
        <button id="cs-form-edit-button-password" type="button" value="<?php echo $IDLetters ?>Password" name="Edit">Edit</button>
        <button class="cs-form-temp-button-password" id="cs-form-cancel-button-password" type="button" value="<?php echo $IDLetters ?>Password" >Cancel</button>
      </div>
    </div>

    <!--            Done Button-->
    <div id="cs-form-elem-last">
      <div class="cs-form-elem-a">
        <a href="/user-account">Done</a>
      </div>
    </div>
  </div>
</div>
