<div (onResize)="handleFooterTopMinValue($event, 0)" class="cs-body text-font-500">
  <div class="cs-body-div">
    <div class="cs-main-div">
      <div class="cs-elem"><h1>Connection and Security</h1></div>
      <div class="editable-elements-main" *ngFor="let editableElement of editableElements">
        <app-cs-elem
          [editableElement]="editableElement">
        </app-cs-elem>
      </div>
      <div class="separation-line-small"></div>
      <div class="cs-elem-last">
        <div class="cs-button-elem">
          <button class="default-btn" type="button" (click)="onApplyChanges()">Apply Changes</button>
        </div>
        <div class="cs-button-elem">
          <button class="default-btn" type="button" (click)="routeTo('/user-account')">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer
  [footerTopMinValue]="footerTopMinValue"
  [position]="position"
></app-footer>

