<div class="message-container" [style.justify-content]="messageListElement?.position">
  <div class="message-body-div">
    <div class="info-div">
      <span class="username-span small-span">{{ messageListElement?.messageList?.messageUserOwner?.getName() }}</span>
      <span class="small-span">{{timeStamp}}</span>
    </div>
    <div class="message-div {{messageListElement?.messageType?.backgroundClass}}">
      <span class="expandable-span">{{messageListElement?.messageList?.message}}</span>
    </div>
    <span class="small-span">{{messageListElement?.messageType?.userCategory?.name}}</span>
  </div>
</div>

