<div class="list-container">
  <div class="order-cell">
    <div class="business-img-container">
      <div class="business-logo-container">
        <img class="logo-picture" src="assets/logo.png" alt="order service logo"/>
      </div>
    </div>
    <div class="order-summary-detail">
      <h5 class="business-name">{{ customerOrder?.business?.getName() }} | {{creationTime}}</h5>
      <ng-container *ngIf="orderLists">
        <div *ngFor="let orderList of orderLists?.slice(0, 3)">
          <app-order-history-element-list [style.height.%]="100"
                                          [orderList]="orderList">
          </app-order-history-element-list>
        </div>
        <ng-container *ngIf="orderLists.length>3">...</ng-container>
        <span>Status: {{customerOrder?.status?.status}}</span>
      </ng-container>
    </div>
    <div class="order-misc">
      <div>
        <span class="order-misc-total-text">Total</span>
      </div>
      <div>
        <span class="order-misc-total-num">{{ total.toFixed(2) }}</span>
      </div>
      <button (click)="onRateOrder()" *ngIf="isNotRated()"><span>Rate This Order</span><i></i></button>
      <button (click)="onClickRedirect()"><span>More Infos >></span><i></i></button>
    </div>
  </div>
</div>

