@import '../../common';

.product-cell {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: rgba($colorP12, 1) no-repeat center center;
  border-radius: 15px;
  padding: 10px;
  height: 100%;
}

.product-img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;

  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  white-space: pre-wrap;

  flex-grow: 1;
  height: 100%;
  margin-right: 10px;
}

.product-info div{
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  flex-grow: 2;
  min-width: 220px;
  height: 100%;
}

.product-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 100%;
  margin-left: 10px;
}

button {
  background: $colorP11;
  border-radius: 10px 10px;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  padding: 10px;

  min-width: 120px;
}

.description {
  margin: 20px 0 20px 0;
}
