<div class="main-page-body-div">
  <div class="main-page-div">
    <div class="main-page-container">
      <div class="row-container">
        <div class="order-information-list">
          <h5 class="text-font-700">Informations - Order {{ customerOrder?.customerOrderId }}</h5>
          <div>{{ customerOrder?.business?.getName() }}</div>
          <div>{{ creationTime }}</div>
          <div>Customer: {{ customerOrder?.customer?.getName() }}</div>
          <div>Business: {{ customerOrder?.business?.getName() }}</div>
          <div>Delivery Service: {{ customerOrder?.deliveryService?.getName() }}</div>
          <div>Delivery Person: {{ customerOrder?.deliveryPerson?.getName() }}</div>
        </div>
        <div class="order-delivery-information">
          <h5 class="text-font-700">Delivery - Order {{ customerOrder?.customerOrderId }}</h5>
          <div *ngIf="customerOrder?.hasDeliveryTime()">
            <div>Arrived at :</div>
            <div>{{ deliveryTime }}</div>
          </div>
          <div class="delivery-address">To :</div>
          <div>{{ deliveryAddress }}</div>
        </div>
      </div>
      <div class="order-summary-container">

        <div class="order-summary-detail">
          <app-order-history-element-list *ngFor="let orderList of customerOrder?.customerOrderLists"
                                          [style.width.%]="100"
                                          [orderList]="orderList">
          </app-order-history-element-list>
        </div>
        <div class="separation-div">
          <div class="vertical-separation-line"></div>
        </div>
        <div class="order-payment-info">
          <div class="card-info">
            <h5 class="text-font-700">Payment information:</h5>
            <div>Visa Card:</div>
            <div>CB xxxx xxxx xxxx 1377</div>
          </div>
          <div class="order-total-info">
            <h5>Total: {{ total?.toFixed(2) }} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
