@import '../../../common';

div{
  font-size: 14px;
}

h5{
  font-size: 18px;
}

.column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.order-information-list {
  padding: 3%;
  align-self: center;
  border-radius: 15px;
  background: rgba(247, 196, 165, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 3%;
  min-width: 69%;
  height: 100%;
}

.delivery-address{
  word-break: break-word;
}

.order-delivery-information {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3%;
  border-radius: 15px;
  background: rgba(247, 196, 165, 0.45);
  min-width: 28%;
  height: 100%;
  border-spacing: 10px;
}

.order-delivery-information div{
  font-size: 14px;
}

.order-summary-container{
  margin-top: 3%;
  justify-content: center;
  border-radius: 15px;
  padding: 3%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(247, 196, 165, 0.45);
  align-items: center;
}

.order-summary-detail {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  justify-content: space-between;
}

.order-list-container{
  display: flex;
  flex-direction: column;
}

.order-payment-info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 250px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
