<div class="main-page-body-div">
  <div class="column-container">
    <h1>{{creationTime}}</h1>
    <h2>Order {{order?.customerOrderId}}</h2>
    <div class="row-container">
      <div class="order-information-list">
        <h5><u>Informations - Order {{order?.customerOrderId}}</u></h5>
        <div>{{business?.getName()}}</div>
        <div>{{creationTime}}</div>
        <div>{{currentUserService.user?.getName()}}</div>
        <div></div>
      </div>
      <div class="order-delivery-information">
        <h5><u>Delivery - Order {{order?.customerOrderId}}</u></h5>
        <div>{{deliveryTime}}</div>
      </div>
    </div>
    <div class="order-summary-container">
      <div class="order-summary-detail">
        <div class="order-list-container" *ngFor="let orderList of order?.customerOrderLists">
          <app-order-history-element-list [style.height.%]="100"
                                          [orderList]="orderList">
          </app-order-history-element-list>
        </div>
        <div class="order-payment-info">

        </div>
      </div>
    </div>

  </div>
</div>
