<div class="ad-address-div">
  <div class="ad-info-div">
    <div class="span-div" *ngIf="address?.defaultAddress">
      <span class="text-font-700 colorP11-span">Default Address</span>
      <div class="separation-line-small"></div>
    </div>
    <div class="span-div">
      <span class="text-font-700">{{ address?.country }}</span>
    </div>
    <div class="span-div">
      <span class="text-font-500">{{ address?.street }}</span>
    </div>
    <div class="span-div">
      <span class="text-font-500">{{ address?.postalCode }}</span>
    </div>
    <div class="span-div">
      <span class="text-font-500">{{ address?.city }}</span>
    </div>
    <div class="span-div">
      <span class="text-font-500">{{ address?.info }}</span>
    </div>
  </div>
  <div class="ad-button-div">
    <div class="separation-line-small"></div>
    <div class="ad-button-sub-div-1">
      <div class="ad-button-sub-div-2">
        <div class="clickable-icon-elem-2" (click)="modifyOnClick()">
          <fa-icon [icon]="faPen" [class]="['clickable-icon-2']"></fa-icon>
        </div>
        <div class="clickable-icon-elem-2" (click)="onDelete()">
          <fa-icon [icon]="faTrash" [class]="['clickable-icon-2']"></fa-icon>
        </div>
      </div>
      <div class="clickable-icon-elem-2" (click)="onDefaultOnClick()">
        <fa-icon [icon]="faStar" [class]="['clickable-icon-2']"></fa-icon>
      </div>
    </div>
  </div>
</div>



