<form #form="ngForm" (ngSubmit)="onSubmit()" name="passwordRecoveryForm">
  <div class="sign-form-body">
    <div class="sign-form-body-div">
      <app-logo></app-logo>
      <div class="sign-form-elem"><h1>Password Recovery</h1></div>

      <div class="sign-form-elem">
        <label for="inputEmail">Email:</label>
        <input type="email" id="inputEmail" [(ngModel)]="emailInput" name="inputEmail" >
        <span class="validation-span" *ngIf="isEmailNotExist()">This email does not have an account.</span>
        <span class="validation-span" *ngIf="isEmailInvalid()">Email field is required.</span>
      </div>
      <div class="separation-line-small"></div>

      <div class="sign-form-elem">
        <re-captcha (resolved)="resolved($event)"></re-captcha>
        <label class="validation-span centered-span" *ngIf="isCaptchaInvalid()">Please verify that you're not a
          robot.</label>
      </div>

      <div class="sign-form-elem">
        <button class="default-button" type="submit">Send Link</button>
      </div>
    </div>
  </div>
</form>
