@import '../main/main.component.scss';

/* Defining bottom navigation bar */
.bottombar {
  display: flex;
  bottom: 0;
  align-self: flex-end;
  align-items: flex-start;
  background-color: $colorP11;
  position: sticky;
}

.bottombar a {
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 12px;
}

/* Define Hover on selection color */
.bottombar a:hover {
  background-color: $colorP12;
  color: black;
}

body {
  margin: 0 0 0 0;
  min-width: 350px;
}

#site-footer-main-div {
  position: absolute;
  top: 1035px;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
}

#site-footer-top-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#site-footer-top-div a {
  font-size: 16px;
  text-decoration: none;
  color: #9D9D9D;
}

#site-footer-first-column a {
  color: white;
}

#site-footer-top-div span {
  font-size: 20px;
  color: white;
}

.site-footer-column {
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-width: 310px;
}

.site-footer-column span, .site-footer-column a {
  margin: 8px 0 8px 0;
}

#site-footer-img-div-1 {
  display: flex;
  justify-content: center;
}

#site-footer-img-div-1 img {
  padding: 0 5px 0 5px;
  width: 40px;
}

#site-footer-img-div-2 {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: end;
  justify-content: center;
}

#site-footer-img-div-2 img {
  width: 30vw;
  min-width: 250px;
  max-width: 400px;
  /*position: absolute;*/
}

#site-footer-bottom-div {
  display: flex;
  flex-direction: column;
  margin: 0 30px 30px 30px;
}

#site-footer-bottom-div a {
  font-size: 14px;
  text-decoration: none;
  color: #9D9D9D;
}

#site-footer-bottom-div span {
  font-size: 14px;
  color: white;
}

.site-footer-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.site-footer-row > div {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.site-footer-row a, .site-footer-row span {
  padding: 10px 10px 10px 10px;
}

#column-1 {
  justify-content: start;
}

#column-2 {
  justify-content: end;
}

@media only screen and (max-width: 1750px) {
  .site-footer-column, #site-footer-last-column {
    flex-basis: 43%;
  }
}

@media only screen and (max-width: 1300px) {
  .site-footer-column, #site-footer-last-column {
    flex-basis: 30%;
  }
}

@media only screen and (max-width: 980px) {
  .site-footer-row {
    flex-direction: column;
  }

  .site-footer-row > div {
    width: 100%;
  }

  #column-2 {
    justify-content: start;
  }
}

@media only screen and (max-width: 800px) {
  .site-footer-column, #site-footer-last-column {
    flex-basis: 100%;
  }

  .site-footer-column {
    text-align: center;
  }
}

