@import "../common";

.add-form-elem {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

//.add-form-elem label {
//  text-align: start;
//  width: 100%;
//}

.ad-main-div {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

#ad-static-address-div {
  border: dashed 2px $colorP11;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#ad-static-address-div:hover {
  border: solid 2px $colorP11;
}

.title-span {
  margin: 20px 0 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.ad-address-body-div {
  background-color: $colorP17;
  display: flex;
  flex-direction: column;

  //border: solid 2px $colorP11;
  border-radius: 20px;

  margin: 10px;
  min-width: 300px;
}

.ad-address-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 15px;
}

.ad-address-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.ad-new-address-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 15px;
}

.ad-plus-div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 60px;
}

.plus-icon {
  font-size: 50px;
  color: $colorP11;
}

.ad-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.span-div {
  min-width: 250px;
  max-width: 250px;

  text-wrap: wrap;
  word-wrap: break-word;
  text-align: left;
}

.ad-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ad-button-sub-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
