<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="faLocationDot"></fa-icon>
    </div>
    <h1 class="main-page-h1">My Addresses</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="ad-main-div">
    <div class="ad-address-body-div" *ngFor="let address of this.currentUserService.user?.addresses">
      <app-address-element [style.height.%]="100"
                           [address]="address"
                           [addresses]="this.currentUserService.user?.addresses"
                           (newAddressEvent)="editAddress($event)">
      </app-address-element>
    </div>
    <div class="ad-static-address-div" (click)="toggleOnClick(ModalOpenType.ADD)" *ngIf="!isEnabled()">
      <div class="add-new-elem-div">
        <div class="add-plus-div">
          <fa-icon [icon]="faPlus" [class]="['plus-icon']"></fa-icon>
        </div>
      </div>
    </div>
    <div class="ad-address-body-div" *ngIf="isEnabled()">
      <div class="ad-address-div">
        <div class="ad-address-header-div">
          <span class="title-span">{{modalOpenType}} Address</span>
          <div class="clickable-icon-elem-1">
            <fa-icon [icon]="faXmark" [class]="['clickable-icon-1']" (click)="toggleOnClick(ModalOpenType.NONE)"></fa-icon>
          </div>
        </div>
        <div class="add-form-elem-1">
          <label for="country-input">Country:*</label>
          <input class="default-input-2" type="text" [(ngModel)]="countryInput" id="country-input">
        </div>
        <div class="add-form-elem-1">
          <label for="street-input">Street:*</label>
          <input class="default-input-2" type="text" [(ngModel)]="streetInput" id="street-input">
        </div>
        <div class="add-form-elem-1">
          <label for="postal-code-input">Postal Code:*</label>
          <input class="default-input-2" type="text" [(ngModel)]="postalCodeInput" id="postal-code-input">
        </div>
        <div class="add-form-elem-1">
          <label for="city-input">City:*</label>
          <input class="default-input-2" type="text" [(ngModel)]="cityInput" id="city-input">
        </div>
        <div class="add-form-elem-1">
          <label for="info-input">Info:</label>
          <input class="default-input-2" type="text" [(ngModel)]="infoInput" id="info-input">
        </div>
        <span class="validation-span" *ngIf="isFormInvalid()">*Required Fields</span>
        <div class="separation-line-small"></div>
        <div class="clickable-icon-elem-2" (click)="onSubmit()">
          <fa-icon [icon]="faCheck"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
