<div class="header-body">
  <div class="header-body-div">
    <div class="header-elem">
      <img class="burger-menu-img" src="assets/icons/burger-menu.png" alt="burger-menu">
    </div>
    <div class="header-elem title-elem">
      <span>terasync/ foodapp</span>
    </div>
    <div class="header-elem address-elem">
      <div class="address-elem-text">
        <span>Some Address Variable</span>
      </div>
      <div class="address-elem-img">
        <img class="arrow-down-img" src="assets/icons/arrow-down.png" alt="arrow-down">
      </div>
    </div>
    <div class="header-elem search-elem">
      <input type="text" class="search-input" placeholder="Search Restaurants">
    </div>
    <div class="header-elem login-button-elem">
      <button class="login-button" type="button">Login</button>
    </div>
    <div class="header-elem register-button-elem">
      <button class="register-button" type="button">Register</button>
    </div>
  </div>
</div>

