<div (onResize)="handleFooterTopMinValue($event, 0)" class="main-page-body-div">
  <div class="page-container">

    <div class="welcome-container"> <!-- welcome message for connected user -->
      <h1 id="welcome-user">
        Bienvenue, User
      </h1>
    </div>

    <div class="categories-container"> <!-- real content of the page, containing all different designs of restaurants display -->

      <div class="restaurants-container">

        <div class="section-title-container">
          <fa-icon [icon]="faLocationDot" [class]="['icon-title']"></fa-icon>
          <h2>
            Around you
          </h2>
        </div> <!-- title -->

        <div class="scroll-container-bigger">
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
        </div>

      </div> <!-- restaurant container bigger -->

      <div class="restaurant-container">

        <div class="section-title-container">
          <fa-icon [icon]="faClock" [class]="['icon-title']"></fa-icon>
          <h2>
            Recently ordered
          </h2>
        </div> <!-- title -->

        <div class="scroll-container-smaller">
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
        </div>

      </div> <!-- restaurant container smaller -->

      <div class="restaurant-container-wrap">

        <div class="section-title-container">
          <fa-icon [icon]="faFire" [class]="['icon-title']"></fa-icon>
          <h2>
            You may also like
          </h2>
        </div> <!-- title -->

        <div class="wrap-container">
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
          <div class="item">
            <p>Le Méditerranée</p>
          </div>
        </div>

      </div> <!-- restaurant container wrap -->
    </div> <!-- categories container -->
  </div> <!-- page container -->
</div>
<app-footer
  [footerTopMinValue]="footerTopMinValue"
  [position]="position"
></app-footer>
