<form #form="ngForm" (ngSubmit)="onSubmit()" name="registerForm">
  <div class="sign-form-body">
    <div class="sign-form-body-div">
      <app-logo></app-logo>
      <div class="sign-form-elem">
        <h1>Create an Account</h1>
      </div>
      <div class="sign-form-elem" *ngIf="!isPartnerType()">
        <label for="firstName-input">First Name:</label>
        <input type="text" id="firstName-input" [(ngModel)]="firstNameInput" name="firstName-input">
        <span class="validation-span" *ngIf="isFirstNameInvalid()">First Name field is required.</span>
      </div>
      <div class="sign-form-elem" *ngIf="!isPartnerType()">
        <label for="lastName-input">Last Name:</label>
        <input type="text" id="lastName-input" [(ngModel)]="lastNameInput" name="lastName-input">
        <span class="validation-span" *ngIf="isLastNameInvalid()">Last Name field is required.</span>
      </div>
      <div class="sign-form-elem" *ngIf="isPartnerType()">
        <label for="name-input">Name:</label>
        <input type="text" id="name-input" [(ngModel)]="nameInput" name="name-input">
        <span class="validation-span" *ngIf="isNameInvalid()">Name field is required.</span>
      </div>
      <div class="sign-form-elem">
        <label for="email-input">Email:</label>
        <input type="email" id="email-input" [(ngModel)]="emailInput" name="email-input">
        <span class="validation-span" *ngIf="isEmailInvalid()">Email field is required.</span>
        <span class="validation-span" *ngIf="isEmailExists">Email already exists.</span>
      </div>
      <div class="sign-form-elem">
        <label for="username-input">Username:</label>
        <input type="text" id="username-input" [(ngModel)]="usernameInput" name="username-input">
        <span class="validation-span" *ngIf="isUsernameInvalid()">Username field is required.</span>
      </div>
      <div class="sign-form-elem">
        <label for="password-input">Password:</label>
        <input type="password" id="password-input" [(ngModel)]="passwordInput" name="password-input">
        <span class="validation-span" *ngIf="isPasswordInvalid()">{{passwordInvalidMessage}}</span>
      </div>
      <div class="sign-form-elem">
        <label for="passwordConfirmation-input">Password Confirmation:</label>
        <input type="password" id="passwordConfirmation-input" [(ngModel)]="confirmPasswordInput"
               name="passwordConfirmation-input">
        <span class="validation-span" *ngIf="isPasswordsNotMatch()">{{passwordsNotMatchMessage}}</span>
      </div>
      <div class="sign-form-elem">
        <re-captcha (resolved)="resolved($event)"></re-captcha>
        <label class="validation-span centered-span" *ngIf="isCaptchaInvalid()">Please verify that you're not a
          robot.</label>
      </div>
      <div class="separation-line-small"></div>
      <div class="sign-form-elem">
        <button class="default-button" type="submit" name="submit-button">Create an Account
        </button>
      </div>
      <div class="sign-form-elem">
            <span>By creating an account, you agree to Terasync's
              <a href="">Conditions of Use</a>
              and
              <a href="">Privacy Notice</a>.</span>
      </div>
      <div class="sign-form-elem">
        <p>Already have an account? <a href="/login">Login here &rarr;</a></p>
      </div>
    </div>
  </div>
</form>
