@import "../../common";

.review-cell {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: $colorP12;
  width: 100%;

  padding: 15px;
  border-radius: 15px;
}

.rating-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px 0 10px 0;

  width: 100%;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  width: 100%;
}

.comment {
  word-break: break-word;
  white-space: pre-wrap;
  text-wrap: wrap;
}
