<form #form="ngForm" id="login-form" name="login-form" action="" method="post">
  <div id="sign-form-body" class="text-font-700">
    <div id="sign-form-body-div">
      <div class="sign-form-elem"><h1>Login</h1></div>
      <div id="login-Invalid">
        Invalid Login
      </div>
      <div class="sign-form-elem">
        <label for="lgEmail-input">Email:</label>
        <input type="email" id="lgEmail-input" name="lgEmail-input"
               value="" required>
      </div>
      <div class="sign-form-elem">
        <label for="lgPassword-input">Password:</label>
        <input type="password" id="lgPassword-input" name="lgPassword-input" required>
      </div>
      <div class="sign-form-elem">
        <re-captcha (resolved)="resolved($event)"></re-captcha>
      </div>

      <div class="sign-form-elem" id="sign-form-robot">
        <span>Please verify that you're not a robot."</span>
      </div>

      <div class="separation-line-small"></div>

      <div class="sign-form-elem">
        <button id="submit-login-button" type="button">Login</button>
      </div>

      <div class="sign-form-elem">
        <a href="">Forgot Password</a>
      </div>
      <div class="sign-form-elem">
        <a href=""><span>Don't have an account?</span> Signup</a>
      </div>
    </div>
  </div>
</form>
