<div class="checkout-container">
  <div class="checkout-header">
    <h2>Checkout for your order with {{basketService.business?.getName()}}</h2>
  </div>
  <div class="checkout-body">
    <div class="left-section">
      <div class="elem-container">
        <h3>Select Delivery Address</h3>
        <div class="select-div">
          <select [(ngModel)]="selectedAddress" class="default-input-2">
            <option *ngFor="let address of currentUserService.user?.addresses!"
                    [value]="address">
              {{ address.country }}, {{ address.city }}, {{ address.street }}, {{ address.postalCode }}
            </option>
          </select>
        </div>
      </div>
      <div class="elem-container">
        <h3>Select Delivery Service</h3>
        <div class="select-div">
          <select [(ngModel)]="selectedDeliveryService" class="default-input-2">
            <option *ngFor="let deliveryService of getAllowedDeliveryServices()"
                    [value]="deliveryService">
              {{ deliveryService.getName() }}
            </option>
          </select>
        </div>
      </div>
      <div class="elem-container">
        <h3>Select Packaging</h3>
        <div class="select-div">
          <select [(ngModel)]="selectedPackaging" class="default-input-2">
            <option *ngFor="let packaging of this.variablesService.packagings"
                    [value]="packaging">
              {{ packaging.packaging }}
            </option>
          </select>
        </div>
      </div>
      <div class="elem-container">
        <h3>Select Payment Method</h3>
        <div class="payment-option">
        <select [(ngModel)]="selectedPaymentMethod" class="default-input-2">
          <option *ngFor="let paymentMethod of this.currentUserService.user?.paymentMethods"
                  [value]="paymentMethod">
            {{ paymentMethod.name }}
            {{ paymentMethod.card }}
          </option>
        </select>
        </div>
        <div class="payment-option">
          <input type="radio" name="payment" value="PayPal"> PayPal
        </div>
      </div>
    </div>
    <div class="right-section">
      <div class="elem-container">
        <h3>Order Summary</h3>
        <div class="large-container">
          <app-business-basket *ngFor="let entry of basketService.basket | keyvalue"
                               [style.width.%]="100"
                               [products]="basketService.business?.products!"
                               [productId]="entry.key"
                               [quantity]="entry.value"
                               [isBasket]="false">
          </app-business-basket>
        </div>
        <div class="total">
          <span>Total:</span> <span>{{getTotalPrice(basketService.business?.products!, basketService.basket)}}€</span>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout-footer">
    <!-- Bouton de paiement -->
    <button (click)="onPay()">Pay</button>
  </div>
</div>
