/* COLOR PALETTE 1
$colorP11: #64395F;
$colorP12: #C075B7;
$colorP13: #6CACA0;
$colorP14: #07878B;
*/

/* COLOR PALETTE 2
$colorP21: #EDCB96;
$colorP22: #F7C4A5;
$colorP23: #9E7682;
$colorP24: #605770;
$colorP25: #4D4861;
 */

// Actual Color Palette
$colorP10: #915c35;
$colorP11: #D4A373;
$colorP12: #FAEDCD;
$colorP13: #FEFAE0;
$colorP14: #E9EDC9;
$colorP15: #CCD5AE;
$colorP16: #f6f3ea;


// For non scss files
:root {
  --colorP10: #915c35;
  --colorP11: #D4A373;
  --colorP12: #FAEDCD;
  --colorP13: #FEFAE0;
  --colorP14: #E9EDC9;
  --colorP15: #CCD5AE;
  --colorP16: #f6f3ea;
}

.our-linear-background-1 {
  background: linear-gradient(to top, $colorP15, $colorP14, $colorP13, $colorP12, $colorP11);

  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index:-10;
}

.our-light-background-1 {
  background: $colorP16;

  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index:-10;
}

// DEFAULT FONT FAMILY FOR EVERYTHING
* {
  font-family: 'Inter', sans-serif;
}

.separation-line-1 {
  padding: 1px;
  background: radial-gradient($colorP11 30%, $colorP12, $colorP12);
  border-radius: 1px;
  margin: 10px 15px 10px 15px;
  flex-grow: 1;
}

.separation-line-2 {
  padding: 1px;
  background: radial-gradient($colorP11 55%, $colorP12, $colorP12);
  border-radius: 1px;
  margin: 10px 15px 10px 15px;
}

.separation-line-small {
  width: 80%;
  padding: 1px;
  background: radial-gradient($colorP11 30%, $colorP12, $colorP12);
  border-radius: 1px;
  margin: 1px 15px 1px 15px;
}

.text-font {
  font-style: normal;
}

.text-font-100 {
  font-style: normal;
  font-weight: 100;
}

.text-font-200 {
  font-style: normal;
  font-weight: 200;
}

.text-font-300 {
  font-style: normal;
  font-weight: 300;
}

.text-font-500 {
  font-style: normal;
  font-weight: 500;
}

.text-font-700{
  font-style: normal;
  font-weight: 700;
}

// DEFAULT MAIN PAGE DIV
.main-page-body-div {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.main-page-h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0 10px 0;
}

// DEFAULT BUTTON STYLES

.default-btn {
  background: $colorP13;
  border-radius: 15px;
  border: #d9d9d9 solid 2px;
  height: 35px;
  width: 100%;

  margin: 5px 0 5px 0;
  font-weight: 700;
  font-size: 16px;
}

.default-btn:hover{
  background: $colorP14;
  border: $colorP11 solid 2px;
}

.href-button {
  font-weight: 500;
  font-size: 16px;
  border: transparent;
  background: transparent;
  text-decoration: none;
  color: $colorP11;

  padding: 0;
}

.href-button:hover {
  cursor: pointer;
}

.default-input {
  background: $colorP13;
  border-radius: 15px;
  border: grey solid 1px;
  height: 35px;
  margin: 5px 0 5px 0;
  white-space:pre;
  text-indent: 10px;
  width: 100%;
}

.clickable-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 500px;
  text-decoration: none;
  background: linear-gradient(to top left, $colorP15, $colorP11);
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.default-input:hover{
  border: $colorP11 solid 1px;
}

.x-mark-icon-elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 50px;
}

.x-mark-icon-elem:hover {
  background: $colorP11;
}

.x-mark-icon {
  font-size: 25px;
  padding: 5px;
}

// COMMON MODAL STUFF

.my-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-header-title {
  font-size: 20px;
  font-weight: bold;
}
