@import "../message-center.component.scss";

.customer-order-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  padding: 8px;

  background: $colorP13;
  border-radius: $borderRadius;

  cursor: pointer;
}

.customer-order-div:hover {
  background: $colorP11;
}

.customer-order-div-clicked {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  padding: 8px;

  background: $colorP11;
  border-radius: $borderRadius;

  cursor: pointer;
}
