@import "../common";

.main-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.business-img-container {
  top: 0;
  height: 350px;
  min-width: 100%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: end;
}

.business-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.business-logo-container {
  z-index: 3;
  position: absolute;
  width: 65px;
  height: 65px;
  padding: 5px;
  box-sizing: border-box;
}

.logo-picture {
  z-index: 4;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.column-business-details {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.review-info-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  width: 100%;
}

.column-business-menu {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 50%;

  margin: 0 20px 0 20px;
}

.previous-orders {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;

  margin-bottom: 20px;
}

.previous-products-container {
  flex-direction: row;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  border-radius: 15px;
}

.product, .previous-product {
  display: inline-block;

  height: 100%;
}

.product {
  min-width: 100%;
  margin-bottom: 20px;
}

.previous-product {
  margin-right: 20px;
  width: 600px;
}


.menu {
  display: flex;
  flex-direction: column;
}

.basket-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 30%;
}

.basket {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;
  min-width: 100%;
  padding: 10px;
  white-space: pre-wrap;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
}

.bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  margin: 10px 0 10px 0;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 100%;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;

  border-radius: 15px;
}

.basket-placeholder {
  display: flex;
  justify-content: center;
  min-width: 90%;
}

.basket-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

button {
  background: $colorP11;
  border-radius: 10px 10px;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  padding: 10px;
  max-width: 50%;
}

.confirm-button {
  min-width: 100%;
}

.reviews-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.row-container-reviews {
  flex-direction: row;
  justify-content: center;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  border-radius: 15px;
}

.review-div {
  display: inline-block;

  height: 100%;

  width: 300px;
  margin-right: 20px;
}


.title-div {
  margin-bottom: 10px;
}

.previous-products-container::-webkit-scrollbar, .row-container-reviews::-webkit-scrollbar, .products-container::-webkit-scrollbar {
  height: 10px;
  border-radius: 15px;
}

.previous-products-container::-webkit-scrollbar-track, .row-container-reviews::-webkit-scrollbar-track, .products-container::-webkit-scrollbar-track {
  border-radius: 15px;
}

.previous-products-container::-webkit-scrollbar-thumb, .row-container-reviews::-webkit-scrollbar-thumb, .products-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
}

.previous-products-container::-webkit-scrollbar-thumb:hover, .row-container-reviews::-webkit-scrollbar-thumb:hover, .products-container::-webkit-scrollbar-thumb:hover {
  border-radius: 15px;
}
