@import "../common";

.column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.business-img-container {
  top: 0;
  height: 350px;
  min-width: 100%;
  border-radius: 15px;
  background-image: url(https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: end;
}

.business-logo-container {
  border-radius: 15px;
  z-index: 3;
  width: 65px;
  height: 65px;
  background-color: aliceblue;
  padding: 5px;
  box-sizing: border-box;
}
.logo-picture {
  z-index: 4;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.row-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.column-business-details{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.column-business-menu{
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 15px;
}

.row-container-orders{
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
}

.row-container-orders::-webkit-scrollbar{
  height: 5px;
}

.previous-product{
  max-width: 70%;
  height: 100%;
  margin: 0 10px 0 10px;
  display: inline-block;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 15px;
  background: rgba($colorP12, 1) no-repeat center center;
}

.product{
  min-width: 100%;
  height: 100%;
  margin: 0 0 30px 0;
  display: inline-block;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 15px;
  background: rgba($colorP12, 1) no-repeat center center;
  padding: 10px;
}

.menu{
  display:flex;
  flex-direction:column;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.column-basket{
  margin: 0 20px 20px 20px;
  border-radius: 15px;
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  white-space: pre-wrap;
  box-shadow: 0 0 15px rgba(0,0,0, 0.15)
}

.basket-placeholder{
  display: flex;
  justify-content: center;
  min-width: 90%;
}

.basket-total{
  display: flex;
  justify-content: center;
}

button {
  background: $colorP11;
  border-radius: 10px 10px;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  padding: 10px;
  max-width: 50%;
}

.confirm-button {
  min-width: 100%;
}

.reviews-container{
  width: 100%;
  display: block;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
}

.row-container-reviews{
  display: block;
  width: 100%;
  height: 30%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
}

.review{
  width: auto;
  height: 100%;
  margin: 0 0 30px 0;
  display: inline-block;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 15px;
  background: rgba($colorP12, 1) no-repeat center center;
  padding: 5px;
}
