<div class="column-container">
  <div class="business-img-container">
    <img class="business-img" src="{{variablesService.selectedBusiness?.pfpImgUrl}}" alt="business-background">
    <div class="business-logo-container">
      <img
        class="logo-picture"
        src="assets/logo.png"
        alt="order service logo"
      />
    </div>
  </div>
  <div (onResize)="handleFooterTopMinValue($event, 80)" class="main-page-body-div">
    <div class="row-container">
      <div class="column-business-details">
        <span class="title-span">{{ variablesService.selectedBusiness?.getName() }}</span>
        <span>{{ variablesService.selectedBusiness?.address }}</span>
        <div class="review-info-div">
          <span *ngIf="hasRating()">{{ getRatingAverage() }}</span>
          <div class="icon-elem-1">
            <fa-icon [icon]="faStar" [class]="['star-icon', 'icon-small']"></fa-icon>
          </div>
          <span>({{ getRatingAmount() }} reviews)</span>
        </div>
      </div>
      <div class="column-business-menu">
        <div class="previous-orders" *ngIf="this.isCustomerCategory() && this.previousProducts.length > 0">
          <div class="title-div">
            <span class="title-span">Previous Orders</span>
          </div>
          <div class="previous-products-container">
            <div class="previous-product" *ngFor="let product of this.previousProducts">
              <app-business-list-product
                [style.height.%]="100"
                [product]="product"
                (addToBasketEmitter)="addToBasket($event)">
              </app-business-list-product>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="title-div">
            <span class="title-span">Menu</span>
          </div>
          <div class="products-container">
            <div class="product" *ngFor="let product of variablesService.selectedBusiness?.products">
              <app-business-list-product
                [style.height.%]="100"
                [product]="product"
                (addToBasketEmitter)="addToBasket($event)">
              </app-business-list-product>
            </div>
          </div>
        </div>
      </div>
      <div class="basket-column" *ngIf="this.isCustomerCategory()">
        <div class="basket">
          <div class="title-div">
            <span class="title-span">Basket</span>
          </div>
          <div class="products-container" *ngIf="basket.size > 0">
            <app-business-basket *ngFor="let entry of basket | keyvalue"
                                 [style.width.%]="100"
                                 [products]="variablesService.selectedBusiness?.products"
                                 [productId]="entry.key"
                                 [quantity]="entry.value"
                                 [isBasket]="true"
                                 (removeFromBasketEmitter)="removeFromBasket($event)">
            </app-business-basket>
          </div>
          <div class="basket-placeholder" *ngIf="basket.size == 0">
            <span>Your basket is currently empty.</span>
          </div>
          <div class="button-div" *ngIf="basket.size>0">
            <div class="basket-total"><span>Total: {{ getTotalPrice(this.variablesService.selectedBusiness?.products!, this.basket) }}€</span></div>
            <span><button class="confirm-button" (click)="openConfirmOrder()"><i>Finish order</i></button></span>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-div" *ngIf="variablesService.selectedBusiness?.ratingLists">
      <div class="title-div" >
        <span class="title-span">Reviews from previous orders</span>
      </div>
      <div class="row-container-reviews">
        <div class="review-div" *ngFor="let review of variablesService.selectedBusiness?.ratingLists">
          <app-business-page-reviews
            [review]="review"
            [style.height.%]="100"
          ></app-business-page-reviews>
        </div>
      </div>
    </div>
  </div>
</div>
<app-business-page-order-confirmation
  [isModalOpen]="confirmOrderModal"
  [basket]="basket"
  [business]="variablesService.selectedBusiness"
  (onCancelEmitter)="closeConfirmOrder($event)">
</app-business-page-order-confirmation>
