<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="faTableList"></fa-icon>
    </div>
    <h1 class="main-page-h1">My Orders</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="search-div">
    <div class="filter-div">
      <span>Filter By Delivery Service:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedDeliveryServiceId">
          <option *ngFor="let deliveryService of deliveryServices"
                  [value]="deliveryService.getUserId()">
            {{ deliveryService.getName() }}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-div">
      <span>Filter By Business:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedBusinessId">
          <option *ngFor="let business of businesses"
                  [value]="business.getUserId()">
            {{ business.getName() }}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-div">
      <span>Filter By Delivery Person:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedDeliveryPersonId">
          <option *ngFor="let deliveryPerson of deliveryPeople"
                  [value]="deliveryPerson.getUserId()">
            {{ deliveryPerson.getName() }}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-div">
      <button class="default-btn" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>
  <div class="main-container-div">
    <div *ngFor="let customerOrder of getFilteredCustomerOrders()">
      <app-manage-order-element *ngIf="customerOrder.deliveryPerson != undefined"
        [style.height.%]="100"
        [customerOrder]="customerOrder">
      </app-manage-order-element>
    </div>
  </div>
</div>
