@import '../../common';

.basket-cell{
  display: flex;
  min-width: 80% !important;
  flex-direction: column;
  border-radius: 15px 15px;
  justify-content: center;
  background: rgba($colorP12, 1) no-repeat center center;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.basket-info{
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item{
  width: 75%;
  white-space: pre-wrap !important;
}

button {
  background: $colorP11;
  border-radius: 10px 10px;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  padding: 5px;
  width: 50%;
}
