<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div id="sign-form-body" class="text-font-700">
    <div id="sign-form-body-div">
      <div class="sign-form-elem"><h1>Login</h1></div>
      <div id="login-Invalid">
        Invalid Login
      </div>
      <div class="sign-form-elem">
        <label for="lgEmail">Email:</label>
        <input type="email" id="lgEmail" name="lgEmail" [ngModel]="lgEmail" value="" required #lgEmail="ngModel">
        <label class="validation-label" *ngIf="lgEmail.errors?.['required']">Email field is required.</label>
      </div>

      <div class="sign-form-elem">
        <label for="lgPassword">Password:</label>
        <input type="password" id="lgPassword" name="lgPassword" [ngModel]="lgPassword" required #lgPassword="ngModel">
        <label class="validation-label" *ngIf="lgPassword.errors?.['required'] && submitted">Password field is required.</label>
      </div>
      <div class="sign-form-elem">
        <re-captcha (resolved)="resolved($event)"></re-captcha>
      </div>
      <div *ngIf="!isCaptchaValid() && submitted" class="sign-form-elem" id="sign-form-robot">
        <span>Please verify that you're not a robot.</span>
      </div>
      <div class="separation-line-small"></div>

      <div class="sign-form-elem">
        <button id="submit-login-button" type="submit">Login</button>
      </div>

      <div class="sign-form-elem">
        <a href="">Forgot Password</a>
      </div>
      <div class="sign-form-elem">
        <span>Don't have an account?<a href=""> Signup</a></span>
      </div>
      <div class="sign-form-elem">
        <span>Are you a partner?<a href=""> Login here</a></span>
      </div>
    </div>
  </div>


</form>
