<div class="order-cell">
  <div class="order-timestamp-container">
    <span class="order-timestamp">{{ creationTime }}</span>
  </div>
  <div class="business-img-div"> <!-- add white gradient, and add this afterwards ngSrc="{{business!.pfpImgPath}}"-->
    <img class="business-thumbnail" alt="thumbnail">
  </div>
  <div class="order-summary-detail">
    <h4 class="business-name">{{ business?.name }}</h4>
    <ng-container *ngIf="orderLists">
      <div class="order-list-container" *ngFor="let orderList of orderLists?.slice(0, 3)">
          <app-order-history-element-list [style.height.%]="100"
                                          [orderList]="orderList">
          </app-order-history-element-list>
      </div>
      <ng-container *ngIf="orderLists.length>3">...</ng-container>
    </ng-container>
  </div>
  <div class="order-misc">
    <div class="order-misc-total-container">
      <h4 class="order-misc-total-text">Total</h4>
      <p class="order-misc-total-num">{{total.toFixed(2)}}</p>
    </div>
    <p class="order-misc-order-details">More Infos >></p>
  </div>
</div>
