<div class="order-cell">
  <div class="order-timestamp-container">
    <h1 class="order-timestamp">{{ order!.creationTime }}</h1>
  </div>
  <div class="business-img-div"> <!-- add white gradient -->
    <img class="business-thumbnail" src="{{business!.pfpImgPath}}" alt="thumbnail">
  </div>
  <div class="order-summary-detail">
    <h1 class="business-name">{{ business?.name }}</h1>
    <div class="order-list-container">
      <span class="order-list" *ngFor="let orderList of orderLists">
        {{orderList.quantity}}
        {{orderList.productId}}
        <!-- We need to fetch the product's name in a way, i'm too tired-->
      </span>
    </div>
  </div>
  <div class="order-misc">
    <div class="order-misc-total-container">
      <p class="order-misc-total-text">Total</p>
      <p class="order-misc-total-num"></p>
    </div>
    <p class="order-misc-order-details">Plus d'infos >></p>
  </div>
</div>
