<div id="header-body" (onResize)="handleResize($event)">
  <div class="header-body-div">
    <div class="header-elem">
      <div class="burger-menu-elem">
        <div class="burger-menu-icon-elem" (click)="burgerMenuOnClick()">
          <fa-icon [class]="['burger-menu-icon']" [icon]="faBars"></fa-icon>
        </div>
        <div class="drop-down-menu" [style.top.px]="dropDownMenuTop" *ngIf="showMenu">
          <div class="dpm-title-elem">
            <span *ngIf="currentUserService.isLoggedIn()" class="main-title-span">Welcome, {{ currentUserService.user?.username }}!</span>
            <span *ngIf="!currentUserService.isLoggedIn()" class="main-title-span">Welcome To TeraSync!</span>
            <div class="x-mark-icon-elem" (click)="xMarkOnClick()">
              <fa-icon [icon]="faXmark" [class]="['x-mark-icon']"></fa-icon>
            </div>
          </div>
          <div class="dpm-logged-out-elem" *ngIf="!currentUserService.isLoggedIn()">
            <div class="logged-out-button-elem" *ngIf="!currentUserService.isLoggedIn()">
              <button class="default-btn" type="button" (click)="loginOnClick()">Login</button>
            </div>
            <div class="logged-out-button-elem" *ngIf="!currentUserService.isLoggedIn()">
              <button class="default-btn" type="button" (click)="registerOnClick()">Register</button>
            </div>
            <div class="separation-line-small"></div>
            <div class="logged-out-button-elem">
              <button type="button" class="href-button" (click)="applyAs(businessCategory)">Apply as a Restaurant</button>
            </div>
            <div class="logged-out-button-elem">
              <button type="button" class="href-button" (click)="applyAs(deliveryServiceCategory)">Apply as a Delivery Service</button>
            </div>
          </div>
          <div class="dpm-func-menu" *ngIf="currentUserService.isLoggedIn()">
            <div class="dpm-func-elem" (click)="routeToAndCloseBurgerMenu('user-account')">
              <div class="dpm-func-icon-elem">
                <fa-icon [icon]="faGear" [class]="['func-icon']"></fa-icon>
              </div>
              <span class="dpm-func-span">My Account</span>
            </div>
            <div class="dpm-func-elem">
              <div class="dpm-func-icon-elem">
                <fa-icon [icon]="faCartShopping" [class]="['func-icon']"></fa-icon>
              </div>
              <span class="dpm-func-span">Orders</span>
            </div>
            <div class="dpm-func-elem">
              <div class="dpm-func-icon-elem">
                <fa-icon [icon]="faHeart" [class]="['func-icon']"></fa-icon>
              </div>
              <span class="dpm-func-span">Favorites</span>
            </div>
            <div class="dpm-func-elem">
              <div class="dpm-func-icon-elem">
                <fa-icon [icon]="faQuestion" [class]="['func-icon']"></fa-icon>
              </div>
              <span class="dpm-func-span">Help</span>
            </div>
            <div class="separation-line-small"></div>
            <div class="dpm-func-elem" (click)="logoutOnClick()">
              <div class="dpm-func-icon-elem">
                <fa-icon [icon]="faArrowRightFromBracket" [class]="['func-icon']"></fa-icon>
              </div>
              <span class="dpm-func-span">Logout</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-elem logo-title-elem" (click)="routeToHome()">
      <img class="logo-img" src="../../../assets/logo.jpeg" alt="logo">
      <div class="title-elem">
        <span>terasync/ foodapp</span>
      </div>
    </div>
    <div class="header-elem search-elem">
      <input type="text" class="default-input" placeholder="Search Restaurants">
    </div>
    <div class="header-elem address-elem">
      <div class="address-elem-text">
        <span>Some Address Variable</span>
      </div>
      <div class="address-elem-img">
        <fa-icon [class]="['chevron-icon']" [icon]="faChevronDown"></fa-icon>
        <fa-icon [class]="['chevron-icon']" [icon]="faChevronUp" *ngIf="false"></fa-icon>
      </div>
    </div>
    <div class="header-elem login-button-elem" *ngIf="!currentUserService.isLoggedIn()">
      <button class="login-button" type="button" (click)="loginOnClick()">Login</button>
    </div>
    <div class="header-elem register-button-elem" *ngIf="!currentUserService.isLoggedIn()">
      <button class="register-button" type="button" (click)="registerOnClick()">Register</button>
    </div>
  </div>
</div>

