/* COLOR PALETTE 1
$colorP11: #64395F;
$colorP12: #C075B7;
$colorP13: #6CACA0;
$colorP14: #07878B;
*/

/* COLOR PALETTE 2
$colorP21: #EDCB96;
$colorP22: #F7C4A5;
$colorP23: #9E7682;
$colorP24: #605770;
$colorP25: #4D4861;
 */

// Actual Color Palette
$colorP10: #915c35;
$colorP11: #D4A373;
$colorP12: #FAEDCD;
$colorP13: #FEFAE0;
$colorP14: #E9EDC9;
$colorP15: #CCD5AE;


// For non scss files
:root {
  --colorP10: #915c35;
  --colorP11: #D4A373;
  --colorP12: #FAEDCD;
  --colorP13: #FEFAE0;
  --colorP14: #E9EDC9;
  --colorP15: #CCD5AE;

}

// DEFAULT FONT FAMILY FOR EVERYTHING
* {
  font-family: 'Inter', sans-serif;
}

.separation-line-1 {
  padding: 1px;
  background: radial-gradient($colorP11 30%, $colorP12, $colorP12);
  border-radius: 1px;
  margin: 10px 15px 10px 15px;
  flex-grow: 1;
}

.separation-line-2 {
  padding: 1px;
  background: radial-gradient($colorP11 55%, $colorP12, $colorP12);
  border-radius: 1px;
  margin: 10px 15px 10px 15px;
}

.separation-line-small {
  width: 80%;
  padding: 1px;
  background: radial-gradient($colorP11 30%, $colorP12, $colorP12);
  border-radius: 1px;
  margin: 1px 15px 1px 15px;
}

.text-font {
  font-style: normal;
}

.text-font-100 {
  font-style: normal;
  font-weight: 100;
}

.text-font-200 {
  font-style: normal;
  font-weight: 200;
}

.text-font-300 {
  font-style: normal;
  font-weight: 300;
}

.text-font-500 {
  font-style: normal;
  font-weight: 500;
}

.text-font-700{
  font-style: normal;
  font-weight: 700;
}

// DEFAULT BUTTON STYLES

.default-btn {
  height: 35px;
  width: 100%;
  border-radius: 15px;
  border: #d9d9d9 solid 2px;

  background: $colorP13;
  font-size: 16px;
  font-weight: bold;
}

.default-btn:hover{
  background: $colorP14;
  border: $colorP11 solid 2px;
}

.x-mark-icon-elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 50px;
}

.x-mark-icon-elem:hover {
  background: $colorP11;
}

.x-mark-icon {
  font-size: 25px;
  padding: 5px;
}

// COMMON MODAL STUFF

.my-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-header-title {
  font-size: 20px;
  font-weight: bold;
}
