<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="faBurger"></fa-icon>
    </div>
    <h1 class="main-page-h1">My Products</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="search-div">
    <div class="filter-div" *ngIf="isAdminCategory()">
      <span>Filter By Business:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedBusinessId">
          <option *ngFor="let business of businesses"
                  [value]="business.getUserId()">
            {{business.getName()}}
          </option>
        </select>
      </div>
    </div>
    <div class="input-div">
      <input type="text" class="default-input-2" placeholder="Search Products By Name" [(ngModel)]="searchProduct">
    </div>
    <div class="filter-div">
      <button class="default-btn" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>


  <div class="manage-product-elem-container">
    <div class="mpe-static-add-div">
      <div class="add-new-elem-div" (click)="addProduct()">
        <div class="add-plus-div">
          <fa-icon [icon]="faPlus" [class]="['plus-icon']"></fa-icon>
        </div>
      </div>
    </div>
    <app-product-element *ngFor="let product of getFilteredProducts()"
      class="manage-product-elem-body"
      [product]="product"
      (onEditEmitter)="editProduct(product)"
    ></app-product-element>
  </div>
</div>
<app-add-edit-product-modal
  [isModalOpen]="isModalOpen"
  [modalOpenType]="modalOpenType"
  [editingProduct]="editingProduct"
  (onModalChangeEmitter)="onChangeEmitter($event)"
></app-add-edit-product-modal>
