<div class="modal my-modal" *ngIf="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span class="modal-header-title">Confirming order:</span>
        <div class="products-container">
          <app-business-basket *ngFor="let entry of basket | keyvalue"
                               [style.width.%]="100"
                               [products]="allProducts"
                               [productId]="entry.key"
                               [quantity]="entry.value"
                               [isBasket]="false">
          </app-business-basket>
        </div>

        <div class="bottom-div" *ngIf="basket.size>0">
          <div>Total: {{ getTotalPrice().toFixed(2) }}€</div>
          <div class="button-div">
            <button><span><i>Confirm</i></span></button>
            <button (click)="clickCancel()"><span><i>Close</i></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



