<div class="delivery-person-elem">
  <div class="pfp-elem-main">
    <div class="pfp-elem">
      <img class="image-frame" src="{{user?.pfpImgUrl}}" alt="pfp-image" *ngIf="user?.hasPfpImg()">
      <div class="image-frame" *ngIf="!user?.hasPfpImg()">
        <fa-icon [class]="['user-icon']" [icon]="faUser"></fa-icon>
      </div>
    </div>
    <div class="pfp-elem-edit" (click)="onEditImgPfp()">
      <fa-icon [class]="['camera-icon']" [icon]="faCamera"></fa-icon>
    </div>
  </div>
  <div class="info-elem">
    <span class="text-font-700">{{user?.getName()}}</span>
    <span>{{user?.username}}</span>
    <span>{{user?.email}}</span>
    <span>Member since: {{memberSince}}</span>
    <div class="edit-elem">
      <div *ngIf="isApprovableUser()">
        <button class="default-btn" (click)="onEditApprovementUser()">{{this.user?.approved! ? "Disapprove" : "Approve"}} User</button>
      </div>
      <div class="clickable-icon-elem-3" (click)="onEditUser()">
        <fa-icon [class]="['clickable-icon-3']" [icon]="faPen"></fa-icon>
      </div>
      <div class="clickable-icon-elem-3" (click)="onDeleteUser()">
        <fa-icon [class]="['clickable-icon-3']" [icon]="faTrash"></fa-icon>
      </div>
    </div>
  </div>
</div>
