<div id="sign-form-body">
  <div id="sign-form-body-div">
    <div class="sign-form-elem">
      <h1>Validate your email</h1>
    </div>
    <div class="sign-form-elem">
      <span id="sign-form-message">Email Has Been Validated Successfully</span>
      <span id="sign-form-message-success">Your email has been validated. You can now<a href="/login">Login</a></span>
    </div>
    <div class="sign-form-elem" id="sign-form-input-div">
      <label for="verificationCode-input">Verification Code:</label>
      <input type="text" id="verificationCode-input" name="verificationCode-input">
      <span class="validation-span">The verification code is incorrect.</span>
    </div>
    <div class="sign-form-elem" id="submit-button-div">
      <button class="default-button" type="button" name="submit-button">Validate Email</button>
    </div>
  </div>
</div>
