<form #form="ngForm" (ngSubmit)="onSubmit()" name="passwordResetForm">
  <div class="sign-form-body">
    <div class="sign-form-body-div">
      <img src="assets/logo.jpeg" width="50">
      <div class="sign-form-elem">
        <h1>Reset your password</h1>
      </div>

      <div class="sign-form-elem">
        <label for="newPassword-input">New Password:</label>
        <input type="password" id="newPassword-input" name="newPassword-input" value="">
      </div>
      <div class="sign-form-elem">
        <label for="newPasswordConfirmationInput">Enter your new password again:</label>
        <input type="password" id="newPasswordConfirmationInput" name="newPasswordConfirmationInput" value="">
        <span class="validation-span">Your new password has to be different from your old password.</span>

      </div>

      <div class="separation-line-small"></div>

      <div class="sign-form-elem">
        <re-captcha (resolved)="resolved($event)"></re-captcha>
        <label class="validation-span centered-span" *ngIf="isCaptchaInvalid()">Please verify that you're not a
          robot.</label>
      </div>

      <div class="sign-separation-line-small"></div>
      <div class="sign-form-elem">
        <button class="default-button" type="submit">Change Password</button>
      </div>


    </div>

  </div>

</form>
