<div class="profile-main-div text-font-700">
  <div class="background-image"></div>
  <div class="profile-top-div">
    <div class="profile-card">
      <div class="profile-top-div-pfp">
        <div class="pfp-img-elem">
          <img class="image-frame" src="{{currentUserService.getPfpImgUrl()}}" alt="pfp" *ngIf="currentUserService.hasPfpImg()">
          <fa-icon [class]="['user-icon']" [icon]="faUser" *ngIf="!currentUserService.hasPfpImg()"></fa-icon>
          <div class="pfp-edit-elem" (click)="openUploadPfpModal()">
            <fa-icon [class]="['edit-icon']" [icon]="faPenToSquare"></fa-icon>
          </div>
        </div>
      </div>
      <div class="profile-top-div-info">
        <span>{{ currentUserService.getUser()?.username }}</span>
        <span>{{ currentUserService.getUser()?.name }}</span>
        <span>{{ currentUserService.getUser()?.email }}</span>
      </div>
    </div>
  </div>
  <div class="profile-bottom-div">
    <a href="#"><span>Devices</span></a>
    <a href="#"><span>Order History</span></a>
    <a href="#"><span>Payment Method</span></a>
    <a href="#"><span>Addresses</span></a>
    <a href="#"><span>Manage Users</span></a>
    <a href="#"><span>Answer Questions</span></a>
    <a href="/connection-security"><span>Connection And Security</span></a>
    <a href="#"><span>Message Center</span></a>
  </div>
</div>
<app-upload-pfp></app-upload-pfp>
<app-footer></app-footer>
