@import "../main/main.component.scss";

.profile-main-div {
  display: flex;
  flex-direction: column;
}
.background-image {
  background-image: url("../../../assets/logo.jpeg");
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  opacity: 0.6;
  position: fixed;
  background-repeat: repeat;
  background-size: 10% auto;
  padding: 0;
  margin: 0;
  z-index:-10;
}

.profile-top-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 60px 30px 120px;
}

.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, $colorP15, $colorP11);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80vw;
  max-width: 800px;
  padding: 20px;
}

.profile-top-div-pfp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-frame {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;

  border-radius: 50%;
}

.pfp-img-elem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;

  background: $colorP10;
  border-radius: 50%;
}

.pfp-edit-elem {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  background: $colorP10;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;

  align-content: end;
  align-self: end;
}

.profile-top-div-info {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
}

.profile-top-div-info span {
  padding: 5px 0 5px 0;
  color: black;
}

.profile-bottom-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 60px 0;
}

.profile-bottom-div div:hover {
  background: .0356A9;
  background: linear-gradient(to bottom right, $colorP15, $colorP11);
}

.profile-bottom-div span {
  padding: 0 20px 0 20px;
}

.user-icon {
  font-size: 80px;
  color: $colorP12;
}

.edit-icon {
  font-size: 20px;
  color: $colorP12;
}

.edit-icon:hover {
  color: $colorP11;
}

@media only screen and (max-width: 960px) {
  .profile-top-div-pfp img, .profile-pfp-overlay {
    border-radius: 50px;
  }
}
