<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="faMessage"></fa-icon>
    </div>
    <h1 class="main-page-h1">Message Center</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="search-div">
    <div class="filter-div">
      <span>Filter By Status:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedStatusId">
          <option *ngFor="let status of statuses"
                  [value]="status.statusId"
                  [selected]="status.statusId == selectedStatusId">
            {{status.status}}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-div">
      <span>Filter By Delivery Service:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedDeliveryServiceId">
          <option *ngFor="let deliveryService of deliveryServices"
                  [value]="deliveryService.getUserId()"
                  [selected]="deliveryService.getUserId() == selectedDeliveryServiceId">
            {{deliveryService.getName()}}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-div">
      <span>Filter By Business:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedBusinessId">
          <option *ngFor="let business of businesses"
                  [value]="business.getUserId()"
                  [selected]="business.getUserId() == selectedBusinessId">
            {{business.getName()}}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-div">
      <span>Filter By Delivery Person:</span>
      <div class="select-div">
        <select class="default-input-2" [(ngModel)]="selectedDeliveryPersonId">
          <option *ngFor="let deliveryPerson of deliveryPeople"
                  [value]="deliveryPerson.getUserId()"
                  [selected]="deliveryPerson.getUserId() == selectedDeliveryPersonId">
            {{deliveryPerson.getName()}}
          </option>
        </select>
      </div>
    </div>
    <div class="filter-div">
      <button class="default-btn" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>

  <div class="message-box-body-div">
    <div class="message-box-body">
      <div class="header-div">
        <span>Customer Orders Message Center</span>
      </div>
      <div class="container-div">
        <div class="customer-orders-container">
          <div class="customer-order-body-div" *ngFor="let customerOrderElement of getFilteredCustomerOrderElements()" (click)="onCustomerOrderElementClick(customerOrderElement)">
            <app-customer-order-element
              [style.width.%]="100"
              [customerOrderElement]="customerOrderElement">
            </app-customer-order-element>
          </div>
        </div>
        <div class="message-main-area-div">
          <div #messageAreaDiv class="message-area-div">
            <div class="message-list-body-div" *ngFor="let messageList of messageListElements">
              <app-message-list-element
                [style.width.%]="100"
                [messageListElement]="messageList">
              </app-message-list-element>
            </div>
          </div>
          <form class="message-input-form" (ngSubmit)="onMessageEnter()" *ngIf="isPending()">
            <input class="default-input-2" [(ngModel)]="messageTyped" placeholder="Type a message..." name="message-input">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


