<form id="signup-form" name="signup-form" method="post">
  <div id="sign-form-body-div" class="text-font-700">
    <div class="sign-form-elem">
      <h1><?php echo $languageList["Create an account"]?></h1>
    </div>
    <div class="sign-form-elem">
      <label for="username-input"><?php echo $languageList["Username:"]?></label>
      <input type="text" id="username-input" name="username-input">
    </div>
    <div class="sign-form-elem">
      <label for="firstName-input"><?php echo $languageList["First Name:"]?></label>
      <input type="text" id="firstName-input" name="firstName-input">
    </div>
    <div class="sign-form-elem">
      <label for="lastName-input"><?php echo $languageList["Last Name:"]?></label>
      <input type="text" id="lastName-input" name="lastName-input">
    </div>
    <div class="sign-form-elem">
      <label for="email-input"><?php echo $languageList["Email:"]?></label>
      <input type="email" id="email-input" name="email-input">
    </div>
    <div class="sign-form-elem">
      <label for="phoneNumber-input"><?php echo $languageList["Phone Number:"]?></label>
      <input type="text" id="phoneNumber-input" name="phoneNumber-input">
    </div>
    <div class="sign-form-elem">
      <label for="password-input"><?php echo $languageList["Password:"]?></label>
      <input type="password" id="password-input" name="password-input">
    </div>
    <div class="sign-form-elem">
      <label for="passwordConfirmation-input"><?php echo $languageList["Enter your password again:"]?></label>
      <input type="password" id="passwordConfirmation-input" name="passwordConfirmation-input">
    </div>
    <div class="separation-line-small"></div>

    <div class="sign-form-elem">
      <div id="recaptcha-div" class="g-recaptcha"></div>
    </div>

    <div class="sign-form-elem" id="sign-form-robot">
      <span><?php echo $commonStringsLanguageList["Please verify that you are not a robot."]?></span>
    </div>

    <div class="separation-line-small"></div>
    <div class="sign-form-elem">
      <button type="button" id="sign-submit-button" name="submit-button"><?php echo $languageList["Create an Account"]?></button>
    </div>
    <div class="sign-form-elem">
            <span><?php echo $languageList["By creating an account, you agree to PetConnect's"]?>
              <a href="#"><?php echo $languageList["Conditions of Use"]?></a>
              <?php echo $languageList["and"]?>
              <a href="#"><?php echo $languageList["Privacy Notice"]?></a>.</span>
    </div>
    <div class="separation-line-small"></div>
    <div class="sign-form-elem">
      <p><?php echo $languageList["Already have an account?"]?> <a href="login.php"><?php echo $languageList["Sign in"]?> &rarr;</a></p>
    </div>
  </div>
</form>
